$white: #fff;
$grey: #333;
$brand-primary: #6c2721;

body {
  color: $grey;
  font-family: 'Josefin Slab', serif;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

footer,
main,
section {
  display: block;
}

a {
  background-color: transparent;
  color: $brand-primary;
  display: inline-block;
  font-weight: 600;
  line-height: 1em;
  outline: none;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    outline: 0;

    &:after {
      transform: scaleX(1);
    }
  }

  &:after {
    border-bottom: .075em $brand-primary solid;
    content: '';
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
}

.browsehappy {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .highlight {
    color: $brand-primary;
  }

  .splash {
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;

    .page-title {
      font-size: 4rem;
      font-weight: 600;
      margin: .67em 0;

      .highlight {
        font-weight: 700;
      }
    }

    .lead {
      margin-bottom: 0;
      margin-top: .75em;

      a {
        font-weight: 700;
      }
    }

    .beer {
      margin-top: .75em;

      .letter-fix {
        margin-left: -.2em;
      }
    }
  }

  .contact {
    text-align: center;

    .contact-list {
      list-style: none;
      margin-bottom: .25em;
      margin-top: 0;
      padding-left: 0;

      li {
        display: inline-block;
        font-size: 1rem;

        &:before {
          content: '|';
          margin-right: .15em;
        }

        &:first-of-type:before {
          content: '';
        }

        a {
          font-weight: 400;
          color: $brand-primary;

          &:after {
            border-color: $brand-primary;
          }
        }
      }
    }
  }
}
